<form id="search">
  <p>Giphy API Search:</p>
  <input type="text" id="query" />
  <button>Search</button>
</form>

<table class="table" id="results-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gif</th>
      <th>Rating</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
